<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>

    {% include nav.html %}

    <div class="docs">
      {% include sidebar.html %}

      <main class="docs__main" id="content">
        {{ content }}
      </main>
    </div>

    {% include footer.html %}

    {% if page.url contains "ios" %}
      <script> loadPlatform("ios", false); </script>
    {% elsif page.url contains "android" %}
      <script> loadPlatform("android", false); </script>
    {% elsif page.url contains "about" %}
      <script>  </script>
    {% else %}
      <script>
        loadPlatform("ios", false);
        setTimeout(function(){
          loadPlatform("ios", true);
        }, 300);
      </script>
    {% endif %}

    {% include analytics.html %}
  </body>
</html>
