---
layout: default
---
<article class="post article" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="article__header article_header">
    {% assign platform = page.categories | first %}
    <p class="vp-eyebrow vp-eyebrow--teal">{{ platform | replace: 'ios', 'iOS' | replace: 'android', 'Android' }} SDK</p>
    <h1 class="article__title article_title" itemprop="name headline">{{ page.title }}</h1>
    <div class="article__meta">
      <span class="article__version" title="SDK version">{{ page.version }}</span>
    </div>
  </header>

  <div class="article__body article-content" itemprop="articleBody">
    {{ page.content }}
  </div>

  {% include dq.html %}

</article>
